.Menu {
    margin-top: 0;
    
    width: 20%;
    background-color: #282c34;
    color: #ffffff;
    
    position: absolute;
    right: 0;
    top: 0;
}

.menu-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 30px;
    padding-inline-start: 3%;
    list-style-type: none;
    cursor: pointer;
}

h1{
    text-align: right;
    margin-right: 10%;
    margin-top: 2%;
    cursor: pointer;
}