.Menu {
    margin-top: 0;
    float: right;
    width: 20%;
    background-color: #282c34;
    color: #ffffff;
}

.menu-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 30px;
    padding-inline-start: none;
    list-style-type: none;
}